<nav>
    <div class="nav-wrapper">
      <a routerLink="/inicio " class="brand-logo">LOGO</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li ><a routerLink="/inicio">Inicio</a></li>
        <li><a routerLink="/administracion/listar-empleados">Empleados</a></li>
        <li><a href="collapsible.html">Editar persona</a></li>
        <li><a href="mobile.html">Eliminar persona</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>