<div class="container text-align-center">
    <div class="row">
        <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
            <img src="https://materializecss.com/images/sample-1.jpg" width="5%"
            height="5%">
            <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
            <p>BIENVENIDOS A CRUD DE EMPLEADOS
                PRUEBA LABORAL PARA JOSE</p>
            </div>
            <div class="card-action">
            <h4>sigue las rutas del navbar</h4>
            </div>
        </div>
        </div>
    </div>

</div>
